@media (min-width: 62rem) {
  .menu-logo--inline .site-branding {
    min-height: 4.75rem;
  }

  .menu-logo--inline .site-branding .site-info {
    max-width: calc(45% - 10px);
  }

  .menu-logo--inline .site-branding .row > .site-info:last-child {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .menu-logo--inline .site-branding .site-name {
    white-space: nowrap;
  }
}

.profile-contact {
  margin-bottom: 0.25rem;
}
